.idea/
__pycache__/
ckpt_res50/
output.txt
py_utils/__init__.pyc
py_utils/face_utils/__init__.pyc
py_utils/face_utils/lib.pyc
py_utils/face_utils/umeyama.pyc
py_utils/vid_utils/__init__.pyc
py_utils/vid_utils/proc_vid.pyc
py_utils/vis.pyc
requirements.txt
resolution_network.pyc
run.log
solver.pyc
test_data/
tf_utils/__init__.pyc
tf_utils/__pycache__/
tf_utils/utils.pyc

